/* Mentor Application Form for https://www.urbantechhero.org
 Developer: Joshua Isaacs / Kate Garbar
 Email: jisaacs1207@icloud / kgarbar@gmail.com
 GitHub: https://github.com/jisaacs1207 / https://github.com/kgarbar
*/

/* Default styles for desktop */
body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media query for mobile and tablet responsiveness */
@media (max-width: 480px) {
  body {
    background: url('assets/background_m.jpg');
    background-size: cover;
    /* Set background size to cover entire container */
    background-position: center bottom;
    /* Pin background to the bottom */
    /* Responsive background for mobile and tablet */
  }

  .form-style {
    max-width: 440px;
  }

  .logo-image {
    position: absolute;
    top: 10px;
    left: 10px;
    /* Adjusted left position */
    max-width: 300px;
    width: auto;
    height: auto;
    z-index: 2;
  }
}

@media (min-width: 481px) {
  body {
    background-image: url('assets/background.jpg');
    background-size: 100% 100%;
    /* Stretch background both horizontally and vertically */
    /* PC background */
  }

  .form-style {
    max-width: 500px;
  }

  /* Hide the logo on screens wider than 480px */
  .logo-image {
    display: none;
  }
}



/* General Styles */
.form-style {
  max-width: 500px;
  /* Adjusted width */
  margin: 160px auto 60px;
  padding: 20px;
  border-radius: 8px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  background: rgba(255, 255, 255, 0.7);
  /* Slightly transparent background */
  box-shadow: 10px 5px 5px rgb(9, 54, 89);
}

/* Required Field Styling */
.form-style label.required::after {
  content: "*";
  color: red;
  margin-right: 2px;
}

.required-message {
  margin-top: 6px;
  font-weight: normal;
  color: red;
  text-align: right;
  font-style: italic;
}

/* Label Styling */
.form-style label {
  margin-bottom: 8px;
  color: #05365B;
  font-family: 'Metrophobic', sans-serif;
}

/* Input, Textarea, and Select Styling */
.form-style textarea,
.form-style select,
.form-style input[type="text"] {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #05365B;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px;
}

/* Focus Styles */
.form-style textarea:focus,
.form-style select:focus,
.form-style input[type="text"]:focus {
  background: #d2d9dd;
}

/* Select Styling */
.form-style select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 35px;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #05365B;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

/* Focus Styles for Select */
.form-style select:focus {
  background: #d2d9dd;
}

/* Number Styling */
.form-style .number {
  background: #05365B;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px 15px 15px 0px;
}

/* Submit Button Styling */
.form-style button[type="button"],
.form-style button[type="submit"] {
  position: relative;
  display: block;
  padding: 15px 20px;
  color: #FFF;
  margin: 0 auto;
  background: #05365B;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #05365B;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

/* Hover Styles for Submit Button */
.form-style button[type="button"]:hover,
.form-style button[type="submit"]:hover {
  background: #05365B;
}

/* Media query for mobile and tablet responsiveness */
@media only screen and (max-width: 767px) {
  .form-style {
    margin: 50px auto 30px;
  }

  .form-style button[type="button"],
  .form-style button[type="submit"],
  .form-style .number {
    width: 100%;
  }
}

/* Submit Button Container Styling */
.submit-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}